.App {
  font-family: "Antonio", sans-serif;
  font-family: "League Spartan", sans-serif;

  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background: #070724;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

p,
p span,
h3,
.nav-link,
button {
  font-family: "League Spartan";
}

h1,
h2,
h4 {
  font-family: "Antonio";
}

button:focus{
  outline: none;
}
